includes:
	- phpstan-baseline.neon

parameters:
	inferPrivatePropertyTypeFromConstructor: true

	level: max

	paths:
		- src/
		- tests/

	excludePaths:
		analyse:
			- tests/tools

	tmpDir: build/phpstan/

	checkMissingIterableValueType: false

	scanDirectories:
		- tests/tools/flysystemv1/
		- tests/tools/flysystemv2/
